<% content_for :content do %>
  </br>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= raw(flash[:notice]) %></strong>
    </div>
  <% end %>
  <%= render 'form' %>
  <%= link_to 'Zurück', :back %>
<% end %>
