<p>Hallo <%= @task.name_of_assigned_user %>,<p>
<p>
dir wurde der Eintrag <%= @task.entry.japanische_umschrift %> von <%= @task.name_of_task_creator %> zum <%= @task.assigned_to_date %> zugewiesen!
</p>
