<p>Hallo <%= @task.name_of_assigned_user %>,<p>
<p>
dir wurde der Eintrag <%= link_to @task.entry.japanische_umschrift, entry_path(@task.entry) %> von <%= @task.name_of_task_creator %> zum <%= @task.assigned_to_date %> zugewiesen!
</p>
