
.table th, .table td {
    padding-left: 15px;
    padding-right: 15px;
    // line-height: 20px;
    // text-align: left;
    // vertical-align: top;
    // border-top: 1px solid #dddddd;
  }

.index-text-container_truncate {
  max-height: 7em;
  position: relative;
  display: block;
  overflow-y: hidden;
  margin-bottom: 2.5em;
  background-color: #ffffff;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  // padding-bottom: 1em;
  
  td {
    display: block;
    border-top: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1.9em;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 75%,rgba(255,255,255,1) 95%); 
  }
}

