<h1>Versions Index </h1>
<span class="right-action"> <%= link_to 'Aktuelle Version', entry_path(@entry), class: 'btn' %></span>
<table class="table">
  <tr>
    <th>Version</th>
    <th>Datum</th>
    <th>Aktion</th>
  </tr>

  <% @versions.order("created_at ASC").to_enum.with_index(1)  do |version, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= "#{version.created_at.strftime('%b %d, %Y')}" %></td>
      <td><%= link_to "Anzeigen", entry_version_path(version.item_id, version.id, {version_number: index}) %></td>
    </tr>
  <% end %>
</table>
