<p>Hallo <%= @assignment.name_of_recipient %>,<p>
<p>
dir wurde der Eintrag <%= @assignment.entry.japanische_umschrift %> von <%= @assignment.name_of_creator %> zum <%= @assignment.to_date %> zugewiesen!
</p>
