<p>Hallo <%= @assignment.name_of_creator %>,<p>
<p>
der von Ihnen an <%= @assignment.name_of_recipient %> delegierte Eintrag <strong><%= @assignment.entry.japanische_umschrift %> (<%= @assignment.entry.kennzahl %>)</strong> wurde soeben erledigt!</br></br>

Mit freundlichen Grüßen</br></br>

das automatische Mitteilungssystem von buddhismus-lexikon.eu 
</p>
