<p>Hallo <%= @assignment.name_of_recipient %>,<p>
<p>
die von dir deligierte Aufgabe <%= @assignment.entry.japanische_umschrift %> an <%= @assignment.name_of_recipient %> hast du nicht erledigt!
</p>
